<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770976105802-34aivhm4ehj5bg7kj6ar0m0g2ktr11os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770976105802-34aivhm4ehj5bg7kj6ar0m0g2ktr11os</string>
	<key>API_KEY</key>
	<string>AIzaSyAbqG9XBOs5z8LfUt4AtzW13ULVELon1VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>770976105802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWisyApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-wisy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-wisy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770976105802:ios:1553760a7db164fede6db3</string>
</dict>
</plist>